[user]
pinned=/var/lib/flatpak/exports/share/applications/com.spotify.Client.desktop;/usr/share/applications/Alacritty.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/codium.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/virtualbox.desktop;
indicatorStyle=2
indicatorOrientation=0
