* {
    font-family: MesloLGL Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    padding: 0 1px 0 1px;
    margin: 0 0 0 0;
    text-shadow: -1px 1px #000000;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    color: #0d0d0d;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#window,
#workspaces,
#custom-activities,
#custom-wlogout,
#idle_inhibitor{
    padding: 2 6px 2 6px;
    color: #ffffff;
    text-shadow: -1px 2px #000000;
}

#clock{
    margin-left: 0px;
    margin-right: 2px;
}

#custom-activities{
    background-color: #0d0d0d;
    border-radius: 100;
    margin: 2px 0 2px 2px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0);
    box-shadow: inset -1px -2px #000000;
}

#custom-wlogout{
    color: #0d0d0d;
    border-radius: 100;
}
